global
    maxconn 100
    stats socket /var/run/haproxy/haproxy.sock mode 600 level admin
defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s
# http stats only for testing - use show-stats from the terminal
# listen stats
#     mode http
#     bind *:7000
#     stats enable
#     stats uri /
#     stats auth admin:ilikestats
listen readwrite
    bind *:5432
    option httpchk OPTIONS/primary
    http-check send meth OPTIONS uri /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    # __TARGETS__
listen read
    bind *:5433
    option httpchk OPTIONS/health
    http-check send meth OPTIONS uri /health
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    # __TARGETS__
